name: build and push tag

on:
  release:
    types: [published]

jobs:
  build_and_push:
    name: Build and push docker image
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      uses: philips-software/docker-ci-scripts@v2.2.1
      with:
        dockerfile: ./
        image-name: terraform-provider-hsdp
        tags: 0.5.0
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: '${{ secrets.DOCKER_PASSWORD }}'
        DOCKER_ORGANIZATION: philipssoftware 
        GITHUB_ORGANIZATION: philips-software
